@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  font-family: "Baloo Bhaijaan 2", cursive;
  @apply text-slate-700 bg-slate-200 min-h-screen;
  background-image: url("../public/pattern.svg");
  background-blend-mode: darken;
}

a.active {
  @apply text-white before:w-full before:bg-white;
}
